<!-- <app-slider></app-slider> -->
<div class="container main-home-page-style mt30">
  <div class="row">
      <div class="home-main col-md-9 col-sm-12 col-xs-12 main-contant-right">

          <!-- START SLIDER -->
          <section class="clearfix">
              <div class="row">
                  <div class="col-md-8 col-sm-12 col-xs-12">
                      <div  id="mega-slider" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                              <li data-target="#mega-slider" data-slide-to="0" class="active"></li>
                              <li data-target="#mega-slider" data-slide-to="1"></li>
                          </ol>
                          <div class="carousel-inner" role="listbox">
                              <div class="item active beactive">
                                  <img src="assets/img/slider/s1.jpg" alt="...">
                                  <div class="carousel-caption">
                                      <h4>Welcome to Giftvil</h4>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi ipsa fugit officia eos!</p>
                                  </div>
                              </div>
                              <div class="item">
                                  <img src="assets/img/banner/slide-6.jpg" alt="...">
                                  <div class="carousel-caption">
                                      <h4>100% Responsive</h4>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi ipsa fugit officia eos!</p>
                                  </div>

                              </div>
                          </div>
                          <!-- Controls -->
                          <a class="left carousel-control" href="#mega-slider" role="button" data-slide="prev">
                          </a>
                          <a class="right carousel-control" href="#mega-slider" role="button" data-slide="next">
                          </a>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12">
                      <div class="row">
                          <div class="col-md-12 col-sm-6 banner-coll2 style-banner1">
                              <div class="image">
                                  <a href="#">
                                      <img src="assets/img/banner/banner1.jpg" class="img-responsive" alt="">
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-12 col-sm-6 banner-coll2">
                              <div class="image">
                                  <a href="#">
                                      <img src="assets/img/banner/banner2.jpg" class="img-responsive" alt="">
                                  </a>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </section>
          <!-- END SLIDER -->
        </div>
        </div>
      </div>

<div class="main-contain col-grid-style">
  <div class="container">
    <div class="row clearfix">

      <div *ngFor="let item of arr" class="col-md-3 col-sm-6 col-xs-12">
        <div class="item-box item mb30">
          <div class="shop-item">
            <ul class="product-labels">
              <li>New</li>
            </ul>
            <div class="item-img">
              <img src="http://localhost:3000/{{item.pro_img}}"   alt="" class="img-responsive" id="img200">
            </div>

            <div class="item-inner">
              <div class="item-inner-detail">
                <div class="item-inner-detail-cart">
                  <a class="btn btn-line-xs btn-white-line" (click)="onAddToCart(item)">
                    <i class="fa fa-shopping-cart"></i> Add To Cart</a>
                </div>
              </div>
            </div>
            <div class="shop-item-info small-thumb-proudct">
              <a routerLink="shop-detail.html">
                <h6 class="shop-item-name">{{item.pro_name.toUpperCase()}}</h6>
              </a>
              <ul class="list-inline overflow-h">
                <!-- <li class="thumb-product-price line-through">$60.00</li> -->
                <li class="thumb-product-price">
                  <!-- {{item.pro_price}} -->
                  {{item.pro_price | currency : 'INR'}}
                </li>
              </ul>

            </div>

          </div>
        </div>
        <a class="onbtnstyle"  (click)="ImageViewMore(item.pro_id)" >More...</a>
