<!-- Start Breadcrumb -->
<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="title"><span>User Information</span></h1>
        <div class="breadcrumb">
          <a href="index-2.html">Home</a>
          <span class="delimeter">/</span>
          <span class="current">User Information</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->


<div class="main-contain">
  <div class="container">
    <div class="row">

      <div class="home-main col-md-9 col-sm-12 clo-xs-12 main-contant-right">
        <div class="widget">
          <h6 class="text-uppercase bottom-line"><strong>My personal information</strong></h6>
        </div>
        <form [formGroup]="SignupForm" (ngSubmit)="onSignup()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label> Name <span class="text-danger">*</span></label>
                <input type="text" formControlName="u_Name" required placeholder="Enter Name" name="u_Name"
                  class="form-control input-sm required"><br>
                <mat-error *ngIf="SignupForm.get('u_Name').hasError('required') && !SignupForm.get('u_Name').pristine">
                  Name is required</mat-error>
                <mat-error *ngIf="SignupForm.get('u_Name').hasError('minlength')">Name must be greater than 5 characters
                </mat-error>
                <mat-error *ngIf="SignupForm.get('u_Name').hasError('pattern')">Only characters are allowed</mat-error>
              </div>

              <div class="form-group">
                <label>Email Address <span class="text-danger">*</span></label>
                <input type="email" formControlName="u_EmailId" required placeholder="Email Address" name="u_EmailId"
                  class="form-control input-sm required email"><br>
                <mat-error
                  *ngIf="SignupForm.get('u_EmailId').hasError('required') && !SignupForm.get('u_EmailId').pristine">
                  Email is required</mat-error>

                <mat-error *ngIf="SignupForm.get('u_EmailId').hasError('email')">Email is invalid</mat-error>
              </div>

              <div class="form-group">
                <label> Address <span class="text-danger">*</span></label>
                <input type="text" formControlName="u_Address" required placeholder="Enter Address" name="u_Address"
                  class="form-control input-sm required"><br>
                <mat-error
                  *ngIf="SignupForm.get('u_Address').hasError('required') && !SignupForm.get('u_Address').pristine">
                  Address is required</mat-error>
              </div>

              <div class="form-group">
                <label> Mobile No <span class="text-danger">*</span></label>
                <input type="text" formControlName="u_mobileno" required placeholder="Enter Mobile No" name="u_mobileno"
                  class="form-control input-sm required">
                <mat-error
                  *ngIf="SignupForm.get('u_mobileno').hasError('required') && !SignupForm.get('u_mobileno').pristine">
                  mobile number is required
                </mat-error>
                <mat-error *ngIf="SignupForm.get('u_mobileno').hasError('maxlength')">mobile number should be 10
                  characters
                </mat-error>
                <mat-error *ngIf="SignupForm.get('u_mobileno').hasError('pattern')">Only numbers are allowed</mat-error>
              </div>

              <label>Date of Birth</label>
              <div class="form-group">

                <input type="Date" formControlName="u_dob" required name="u_dob" class="form-control input-sm required">
                <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker> -->
                <mat-error *ngIf="SignupForm.get('u_dob').hasError('required') && !SignupForm.get('u_dob').pristine">
                  Birthdate is required
                </mat-error>
              </div>

              <!-- <div class="col-md-6"> -->
              <div formGroupName="password_group">
                <div class="form-group">
                  <label>Password <span class="text-danger">*</span></label>
                  <input type="password" formControlName="u_password" [type]="hide ? 'password' : 'text'"
                    placeholder="Password" name="u_password" class="form-control input-sm required">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>

                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" formControlName="u_confirm_password" [type]="hide1 ? 'password' : 'text'"
                    placeholder="Confirm Password" name="u_confirm_password" class="form-control input-sm required">
                  <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
              </div>

              <div class="form-group">
                <label>Gender</label><br>
                <mat-radio-group aria-label="Select an option" formControlName="u_gender"
                  class="form-control input-sm required">
                  <mat-radio-button value="male">Male</mat-radio-button>
                  <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
              </div>

              <div class="form-group">

                <label>Image</label>
                <input type="file" class="form-control input-sm required" name="u_img" formControlName="u_img"
                  (change)="onChange($event)">
              </div>
            </div>
          </div>


          <div class="form-group">
            <button type="submit" value="submit" class="btn cd-btn"><i class="fa fa-save mr5"></i>
              Save</button><br /><br />
            <button type="button" (click)="onSignupCancel()" class="btn cd-btn"><i class="fa fa-save mr5"></i>
              Cancel</button>
          </div>
          <!-- </div> -->
        </form>
      </div>
      <aside>
