<header>

  <!-- start topbar -->
  <div class="topbar">
    <div class="container">
      <ul class="list-inline pull-left hidden-sm hidden-xs">
        <li><span class="text-primary color">Have a question?</span> Call 910 4610 020</li>
      </ul>

      <ul class="topbarnav pull-right">

        <!-- <li class="linkdown">
                    <a href="#">
                        <i class="fa fa-usd mr5"></i>
                        USD
                        <i class="fa fa-angle-down ml5"></i>
                    </a>
                    <ul class="link-list">
                        <li class="active"><a href="#"><i class="fa fa-eur mr5"></i>EUR</a></li>
                        <li><a href="#"><i class="fa fa-usd mr5"></i>USD</a></li>
                        <li><a href="#"><i class="fa fa-gbp mr5"></i>GBP</a></li>
                    </ul>
                </li> -->
        <li class="linkdown">
          <a href="#">
            <img src="assets/img/flags/us.png" class="mr5" alt="">
            <span class="hidden-xs"> English
            </span>
          </a>
          <!-- <ul class="link-list">
                        <li class="active"><a href="#"><img src="assets/img/flags/us.png" class="mr5" alt=""> English</a></li>
                        <li><a href="#"><img src="assets/img/flags/de.png" class="mr5" alt=""> German</a></li>
                        <li><a href="#"><img src="assets/img/flags/ru.png" class="mr5" alt=""> Russian</a></li>
                        <li><a href="#"><img src="assets/img/flags/it.png" class="mr5" alt=""> Italian</a></li>
                    </ul> -->
        </li>
        <li class="linkdown">
          <a href="#">
            <i class="fa fa-user mr5"></i>
            <span class="hidden-xs">
              My Account
              <i class="fa fa-angle-down ml5"></i>
            </span>
          </a>
          <ul class="cd-link">
            <li><a href="#">Wishlist</a></li>
            <li><a routerLink="/shoppingcart">My Cart</a></li>
            <li><a routerLink="/checkout">Checkout</a></li>
            <li><a routerLink="/loginpage">Login</a></li>
            <li><a routerLink="/registration">Register</a></li>
            <li><a (click)="onLogout()">LOGOUT</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- start middlebar -->
  <div class="middlebar">
    <div class="container">
      <div class="row">
        <div class="display-table">
          <div class="col-sm-3 vertical-align text-left hidden-xs">
            <a href="index-2.html">
              <img width="150px" height="" src="../../assets/img/giftvilla_logo.jpg" alt="" />
            </a>
          </div>
          <div class="col-sm-7 vertical-align text-center">
            <form>
              <div class="header-cat-block">
                <div class="col-sm-6">
                  <input type="text" name="keyword" class="form-control input-lg" placeholder="Search">
                </div>
                <div class="col-sm-3">
                  <select class="form-control input-lg" name="fk_cat_id" #fk_cat_id
                    (change)="onWatchClick(fk_cat_id.value)" placeholder="select">
                    <!-- <option [selected]="true">All Category</option> -->
                    <option *ngFor="let item of category" [value]="item.cat_id">{{item.cat_name}}</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <input type="submit" class="btn cd-btn top-cat-search btn-block" value="Search">
                </div>
              </div>
            </form>
          </div>
          <!-- <div class="col-sm-2 vertical-align header-items hidden-xs">
            <div class="header-item mr5">
              <a routerLink="/wishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
                <i class="fa fa-heart-o"></i>
                <sub></sub>
              </a>
            </div>
            <div class="header-item">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                <i class="fa fa-refresh"></i>
                <sub></sub>
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="navbar cd-navbar navbar-default">
    <div class="container">
      <!-- <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-3" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index-2.html" class="navbar-brand visible-xs">
          <img src="assets/img/logo-small.png" alt="logo">
        </a>
      </div> -->
      <div id="navbar-collapse-3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- Home -->
          <li><a routerLink="/products">Home</a></li>

          <!-- <li class="active"><a href="contact.html">Contact Us</a></li> -->
          <!-- <li><a href="contact.html">Contact Us</a></li> -->
          <li><a routerLink="shoppingcart">My Cart</a></li>

          <li><a routerLink="userinfo">My Account</a></li>
          <li><a routerLink="help">Help</a></li>
          <li><a routerLink="myorder">MY Order</a></li>
          <li><a routerLink="map">Contact Us</a></li>
        </ul><!-- end navbar-nav -->

      </div>
    </div>
  </div>


</header>
