<div style="margin-bottom: 50px;">
  <header>

    <!-- start topbar -->
    <div class="topbar">
      <div class="container">
        <ul class="list-inline pull-left hidden-sm hidden-xs">
          <li><span class="text-primary color">Have a question?</span> Call 910 4610 020</li>
        </ul>

        <ul class="topbarnav pull-right">


          <li class="linkdown">
            <a href="#">
              <img src="assets/img/flags/us.png" class="mr5" alt="">
              <span class="hidden-xs"> English
              </span>
            </a>

          </li>
          <li class="linkdown">
            <a href="#">
              <i class="fa fa-user mr5"></i>
              <span class="hidden-xs">
                My Account
                <i class="fa fa-angle-down ml5"></i>
              </span>
            </a>
            <ul class="cd-link">
              <li><a routerLink="/wishlist">Wishlist</a></li>
              <li><a routerLink="/shoppingcart">My Cart</a></li>
              <!-- <li><a routerLink="/checkout">Checkout</a></li> -->
              <li><a routerLink="/loginpage">Login</a></li>
              <li><a routerLink="/registration">Register</a></li>
              <li><a (click)="onLogout()">LOGOUT</a></li>

            </ul>
          </li>
          <!-- <li class="linkdown">
          <a href="#" class="cart-item-number">
            <i class="fa fa-shopping-bag mr5"></i>
            <span class="hidden-xs">
              Cart
              <i class="fa fa-angle-down ml5"></i>
            </span>
          </a>
          <ul class="cart cd-link-2">
            <li>
              <div class="cart-items">
                <ol class="items">
                  <li *ngFor="let item of arrcartItems">
                    <a href="#" class="product-image">
                      <img src="http://localhost:3000/{{item.Product.pro_img}}" alt="">
                    </a>
                    <div class="product-details">
                      <p class="product-name">
                        <a href="#">{{item.Product.pro_name.toUpperCase()}}</a>
                      </p>
                      <strong>{{item.Quantuty}}</strong> <span class="price">
                        {{item.Product.pro_price | currency : 'INR'}}</span>
                    </div>
                  </li>
                </ol>
              </div>
            </li>
 -->

          <!-- <li>
              <div class="cart-btn-block">
                <a routerLink="shoppingcart" class="pull-left"><i class="fa fa-cart-plus mr5"></i>View Cart</a>
                <a href="#" class="pull-right"><i class="fa fa-shopping-bag mr5"></i>Checkout</a>
              </div>
            </li>
            ======= -->
          <!--
          </ul>
        </li> -->
        </ul>
      </div>
    </div>
    <!-- start middlebar -->
    <div class="middlebar">
      <div class="container">
        <div class="row">
          <div class="display-table">
            <div class="col-sm-3 vertical-align text-left hidden-xs">
              <a routerLink="/">
                <img width="150px" height="" src="../../assets/img/giftvilla_logo.jpg" alt="" />
              </a>
            </div>
            <div class="col-sm-7 vertical-align text-center">
              <div class="col-sm-6">
                <input type="text" name="keyword" class="form-control input-lg" placeholder="Search" #txtSearch
                  (keyup)="SearchTextBox(txtSearch.value)">
              </div>
              <div class=" col-sm-3">
                <select class="form-control input-lg" name="fk_cat_id" #fk_cat_id
                  (change)="onWatchClick(fk_cat_id.value)" placeholder="select" class="form-control input-lg">

                  <!-- <option [selected]="true">All Category</option> -->
                  <option selected>Select Category</option>
                  <option *ngFor="let item of category" [value]="item.cat_id">{{item.cat_name}}</option>
                </select>
              </div>
              <div class="col-sm-3">
                <input type="submit" class="btn cd-btn top-cat-search btn-block" value="Search"
                  (click)="SearchTextBox1(txtSearch.value)">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class=" navbar cd-navbar navbar-default">
      <div class="container">
        <!-- <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-3" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index-2.html" class="navbar-brand visible-xs">
          <img src="img/logo-small.png" alt="logo">
        </a>
      </div> -->
        <br>
        <br>
        <div id="navbar-collapse-3" class="navbar-collapse collapse">
          <ul>

            <li class="li-header"><a routerLink="/products">Home</a></li>
            <li class="li-header"><a routerLink="/shoppingcart">Cart</a></li>
            <li class="li-header"><a routerLink="/userinfo">My Account</a></li>
            <li class="li-header"><a routerLink="help">Help</a></li>
            <li class="li-header"><a routerLink="/myorder">Order</a></li>
            <li class="li-header"><a routerLink="/map">ContactUs</a></li>
            <li class="li-header" style="margin-left: 40%;color: red;"><a routerLink="/Wishes">Send Wishes</a></li>
          </ul>
        </div>

      </div>
    </div>

  </header>
