<footer class="footer">

  <!-- custom block  -->
  <section class="home-main-contant-style footer-option-box">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="option-box-item last-style"><i class="fa fa-money"></i>

            <h4>100% Safe Payment</h4>

            <!-- <p>Lorem ipsum dolor sit amet, Nunc aliquam justo et nibh venenatis aliquet.</p> -->
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="option-box-item last-style"><i class="fa fa-check-square-o"></i>

            <h4>Shop with Confidence</h4>
            <!-- <p>Lorem ipsum dolor sit amet, Nunc aliquam justo et nibh venenatis aliquet.</p> -->
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="option-box-item"><i class="fa fa-truck"></i>

            <h4>Ahmedabad Delivery</h4>


          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="option-box-item">
            <i class="fa fa-user"></i>
            <h4>24/7 Help Center</h4>

          </div>
        </div>

        <!-- <p>Lorem ipsum dolor sit amet, Nunc aliquam justo et nibh venenatis aliquet.</p> -->
      </div>
    </div>


  </section>
  <!-- custom block  -->

  <div class="container">
    <div class="row">
      <!-- CATEGORIES WIDGET -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <h6 class="text-uppercase bottom-line">About Us</h6>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur</p> -->
          <p>Nagrik Provision Store<br>Sahibaugh 380004<br>Ph:- 9001 234 567</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <h6 class="text-uppercase bottom-line">Information</h6>
          <ul class="icons-list">
            <li><a routerLink="/help">FAQ</a></li>
            <li><a routerLink="/privacypolicy">Policy Privacy</a></li>
            <li><a routerLink="/terms&condition">Terms and Conditions</a></li>
            <!-- <li><a routerLink="/">Shipping Methods</a></li> -->
          </ul>
        </div>
      </div>
      <!-- END CATEGORIES WIDGET -->

      <!-- CATEGORIES WIDGET -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <h6 class="text-uppercase bottom-line">User Information</h6>
          <ul class="icons-list">
            <li><a routerLink="userinfo">MyAccount<span class="pull-right"></span></a></li>
            <li><a routerLink="myorder">MyOrder<span class="pull-right"></span></a></li>
            <li><a routerLink="map">contact us<span class="pull-right"></span></a></li>
            <li><a routerLink="help">Help<span class="pull-right"></span></a></li>
          </ul>
        </div>
      </div>
      <!-- END CATEGORIES WIDGET -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <img src="../../assets/img/giftvilla_logo.jpg" width="500px" height="800px">

        </div>
      </div>
    </div>

  </div>

  <!-- END CATEGORIES WIDGET -->

  <!-- CATEGORIES WIDGET -->
  <!-- <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                  <h6 class="text-uppercase bottom-line">Subscribe to Newsletter</h6>
                  <p>Lorem ipsum dolor sit amet, Nunc aliquam justo et nibh venenatis aliquet.</p>
                  <div class="newsletter">
                      <form method="post" action="#">
                          <input placeholder="Email address..." name="email" class="follow-by-email-address" type="text">

                          <a class="btn btn-product cd-cart-btn" routerLink="#">Submit</a>
                      </form>
                  </div>
              </div>
          </div> -->
  <!-- CATEGORIES WIDGET -->



  <!-- CONTACT WIDGET -->
  <div class="copyright">
    <!-- <div class="col-sm-6 pull-left">
              <p>© All Rights Reserved @  <a target="_blank" routerLink="http://craftdzine.com/">CraftDzine</a></p>
          </div> -->

    <div class="col-sm-6">
      <div class="payment pull-right">
        <img src="assets/img/payment-1.png" alt="Payment-1">
        <img src="assets/img/payment-2.png" alt="Payment-2">
        <img src="assets/img/payment-3.png" alt="Payment-3">
        <img src="assets/img/payment-4.png" alt="Payment-4">
        <img src="assets/img/payment-5.png" alt="Payment-5">
      </div>

    </div>

  </div>

</footer>
<!-- END FOOTER-->
