<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="title"><span>Shop Detail</span></h1>
        <div class="breadcrumb">
          <a routerLink="/products">Home</a>
          <span class="delimeter">/</span>
          <span class="current">Shop Detail</span>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="main-contain shop-product bg-white">
  <div class="container">
    <div *ngFor="let item of picarr" style="float: left;">
      <img mat-card-image style="height: 300px;width: 225px;"
        src="http://localhost:3000/images/product_images/{{item.photo}}">
    </div>
    <div *ngFor="let item of arr" class="row" style="float: left;margin-top: 7%;width: 100%;">


      <div class="col-md-6 col-sm-6 col-sm-12">
        <div class="shop-product-heading">
          <h2>{{item.pro_name }}</h2>
        </div>


        <p class="mb15"> <label style="font-style: bold;font-size: medium;">Description:</label> <br> {{item.pro_info}}
        </p><br>

        <ul class="list-inline shop-product-prices mb30">
          <li class="shop-red">
            <label style="font-style: bold;font-size: medium;">Price:</label> <br><br>
            {{item.pro_price|  currency:'INR' }}</li>

        </ul>
        <ul>
          <label style="font-style: bold;font-size: medium;">Manufacturer:</label> <br>
          <h2>{{item.pro_mfg}}</h2>
        </ul>

        <br>

        <br>
        <br>
        <!-- <h3 class="shop-product-title">Quantity</h3>
        <div class="mb30">
          <form name="f1" class="product-quantity">
            <button type='button' class="quantity-button" name='subtract'
              onclick='javascript: document.getElementById("qty").value--;' value='-'>-</button>
            <input type='text' class="quantity-field" name='qty' value="1" id='qty' />
            <button type='button' class="quantity-button" name='add'
              onclick='javascript: document.getElementById("qty").value++;' value='+'>+</button>
          </form>
          <button type="button" class="btn btn-product">Add to Cart</button>
        </div> -->

        <ul class="list-inline add-to-wishlist add-to-wishlist-brd">
          <li class="wishlist-in">
            <i class="fa fa-heart"></i>

            <button style="border: none;background-color: white;color:yellowgreen" (click)="AddTowishlist()">Add to
              Wishlist</button>
          </li>

        </ul>
        <ul>
          <button (click)="onAddToCart(item)" class=" btn cd-btn pull-left"
            style="width: 325px;font-size: medium;margin-top: 3%;">Add To
            Cart</button>
        </ul>
      </div>
    </div>
  </div>
</section>
<p-dialog [(visible)]=" wishlistFlag">
  <p-header>
    Login Fisrt!
  </p-header>
  Please!
  <br> Do login first to store product in your wishlist
</p-dialog>
