<br /><br />
<div class="col-md-3 col-sm-12 col-xs-12 home-side-bar sied-bar-left">
  <section class="widget mb20">
    <h6 class="text-uppercase bg-border">Categories</h6>
    <div class="navbar-vertical">
      <ul class="nav nav-stacked">
        <li *ngFor="let item of category" [value]="item.cat_id" name="fk_cat_id" #fk_cat_id
          (click)="onWatchClick(fk_cat_id.value)" placeholder="select">{{item.cat_name}}
          <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Mens <i class="fa fa-angle-right pull-right"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Shirts</a></li>
            <li><a href="#">Coats & Jackets</a></li>
            <li><a href="#">Underwear</a></li>
            <li><a href="#">Sunglasses</a></li>
            <li><a href="#">Socks</a></li>
            <li><a href="#">Belts</a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Womens <i class="fa fa-angle-right pull-right"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Dresses</a></li>
            <li><a href="#">T-shirts</a></li>
            <li><a href="#">Skirts</a></li>
            <li><a href="#">Jeans</a></li>
            <li><a href="#">Pullover</a></li>
          </ul>
        </li>
        <li><a href="#">Kids</a></li>
        <li><a href="#">Fashion</a></li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
            SportWear <i class="fa fa-angle-right pull-right"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Shoes</a></li>
            <li><a href="#">Bags</a></li>
            <li><a href="#">Pants</a></li>
            <li><a href="#">Swimwear</a></li>
            <li><a href="#">Bicycles</a></li>
          </ul>
        </li>
        <li><a href="#">Bags</a></li>
        <li><a href="#">Shoes</a></li>
        <li><a href="#">HouseHolds</a></li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
            Technology <i class="fa fa-angle-right pull-right"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Television</a></li>
            <li><a href="#">Camera</a></li>
            <li><a href="#">Speakers</a></li>
            <li><a href="#">Mobile</a></li>
            <li><a href="#">PC</a></li>
          </ul> -->
        </li>
      </ul>
    </div>
  </section>
</div>
