<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="title"><span>My Wishlist</span></h1>
        <div class="breadcrumb">
          <a routerLink="/">Home</a>
          <span class="delimeter">/</span>
          <span class="current">Wishlist</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->


<div class="main-contain" style="margin-left: 12.5%;">
  <div class="container">
    <div class="row">
      <div class="home-main col-md-9 col-sm-12 clo-xs-12 main-contant-right">
        <div class="widget">
          <h6 class="text-uppercase bottom-line" style="width: 100%;"><strong>My Wishlist</strong></h6>
        </div>
        <div class="table-responsive" style="width: 100%;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Products</th>
                <th style="width:12.5%;text-align: center;">Name</th>
                <th>Price</th>
                <th style="text-align: center;"></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of wishlistarr;let i = index">
                <td style="width: 400px;">
                  <a style="width: 400px;height: 200px;">
                    <img src="http://localhost:3000/images/product_images/{{item.pro_img}}"
                      style="height:120px;width: 120px;" alt="product" class="img-resopnsive">
                  </a>
                </td>
                <td>
                  <h6 class="regular"><a href="#">{{item.pro_name}}</a></h6>
                  <!-- <p>Sed aliquam tincidunt tempus</p> -->
                </td>
                <td>
                  <span>{{item.pro_price}}</span>
                </td>
                <td colspan="2">
                  <button type="button" (click)="onAddToCart(item)" class="btn btn-product">Add to Cart</button>
                </td>
                <td>
                  <button type="button" class="close" (click)="onRemoveFromWishlist(item.fk_pro_id,i)">×</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <a routerLink="/" class="btn cd-btn pull-left">
          <i class="fa fa-arrow-left mr5"></i> Continue shopping
        </a>
      </div>
      <aside>
