<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="title"><span>My Wishlist</span></h1>
        <div class="breadcrumb">
          <a href="index-2.html">Home</a>
          <span class="delimeter">/</span>
          <span class="current">Wishlist</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->


<div class="main-contain">
  <div class="container">
    <div class="row">
      <div class="home-main col-md-9 col-sm-12 clo-xs-12 main-contant-right">
        <div class="widget">
          <h6 class="text-uppercase bottom-line"><strong>My Wishlist</strong></h6>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>
                  <a href="#">
                    <img src="assets/img/products/cart1.jpg" alt="product" class="img-resopnsive">
                  </a>
                </td>
                <td>
                  <h6 class="regular"><a href="#">Lorem Ipsum</a></h6>
                  <p>Sed aliquam tincidunt tempus</p>
                </td>
                <td>
                  <span>$59.99</span>
                </td>
                <td>
                  <a href="#" class="btn cd-btn"><i class="fa fa-cart-plus mr5"></i> Add to cart</a>
                </td>
                <td>
                  <button type="button" class="close">×</button>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">
                    <img src="assets/img/products/cart2.jpg" alt="product" class="img-resopnsive">
                  </a>
                </td>
                <td>
                  <h6 class="regular"><a href="#">Lorem Ipsum</a></h6>
                  <p>Sed aliquam tincidunt tempus</p>
                </td>
                <td>
                  <span>$59.99</span>
                </td>
                <td>
                  <a href="#" class="btn cd-btn"><i class="fa fa-cart-plus mr5"></i> Add to cart</a>
                </td>
                <td>
                  <button type="button" class="close">×</button>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">
                    <img src="assets/img/products/cart3.jpg" alt="product" class="img-resopnsive">
                  </a>
                </td>
                <td>
                  <h6 class="regular"><a href="#">Lorem Ipsum</a></h6>
                  <p>Sed aliquam tincidunt tempus</p>
                </td>
                <td>
                  <span>$59.99</span>
                </td>
                <td>
                  <a href="#" class="btn cd-btn"><i class="fa fa-cart-plus mr5"></i> Add to cart</a>
                </td>
                <td>
                  <button type="button" class="close">×</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <a routerLink="/" class="btn cd-btn pull-left">
          <i class="fa fa-arrow-left mr5"></i> Continue shopping
        </a>
        <a routerLink="/checkout" class="btn cd-btn pull-right">
          Checkout <i class="fa fa-arrow-right ml5"></i>
        </a>
      </div>
      <aside>
