<!-- <p>check works!</p>
<h1>{{d}}</h1>-->
<!-- <div *ngFor="let item of picarr">
  <a href="http://localhost:3000/{{item.photo}}">this
  <img src="http://localhost:3000/{{item.photo}}">
  </a>
</div>
<h1>break</h1> -->
<div class="signal-product-image">
  <div class="col-md-6 col-sm-6 col-sm-12">
    <div class="images cd-post-thumbnail">
      <div class="flexslider-wrap product-image-full-size">
        <div class="flexslider" id="main_slider">
        <div class="flex-viewport">
          <ul class="slides">
            <div *ngFor="let item of picarr">
            <li >
              <a class="cd-lightbox-image cd-lightbox-type-image" href="http://localhost:3000/{{item.photo}}" title="">
                <img title="" src="http://localhost:3000/{{item.photo}}" alt=""><i itemprop="image" class="fa fa-fw fa-expand"></i>
              </a>
            </li>
            </div>
            <!-- <li itemtype="https://schema.org/Product" itemscope="">
                              <a class="cd-lightbox-image cd-lightbox-type-image" href="assets/img/products/pro2.jpg" title="">
                                  <img title="" src="assets/img/products/pro2.jpg" alt="" ><i itemprop="image" class="fa fa-fw fa-expand"></i>
                              </a>
                          </li>
                           <li itemtype="https://schema.org/Product" itemscope="">
                              <a class="cd-lightbox-image cd-lightbox-type-image" href="assets/img/products/pro13.jpg" title="">
                                  <img title="" src="assets/img/products/pro13.jpg" alt="" ><i itemprop="image" class="fa fa-fw fa-expand"></i>
                              </a>
                          </li>
                          <li itemtype="https://schema.org/Product" itemscope="">
                              <a class="cd-lightbox-image cd-lightbox-type-image" href="assets/img/products/pro4.jpg" title="">
                                  <img title="" src="assets/img/products/pro4.jpg" alt="" ><i itemprop="image" class="fa fa-fw fa-expand"></i>
                              </a>
                          </li>
                          <li itemtype="https://schema.org/Product" itemscope="">
                              <a class="cd-lightbox-image cd-lightbox-type-image" href="assets/img/products/pro5.jpg" title="">
                                  <img title="" src="assets/img/products/pro5.jpg" alt="" ><i itemprop="image" class="fa fa-fw fa-expand"></i>
                              </a>
                          </li>
                          <li itemtype="https://schema.org/Product" itemscope="">
                              <a class="cd-lightbox-image cd-lightbox-type-image" href="assets/img/products/pro6.jpg" title="">
                                  <img title="" src="assets/img/products/pro6.jpg" alt="" ><i itemprop="image" class="fa fa-fw fa-expand"></i>
                              </a>
                          </li> -->
          </ul>
        </div>
      </div>
    </div>
<!-- <h1>hello</h1>
    <div class="flexslider" id="main_thumbs">
      <div class="flex-viewport">
        <ul class="slides">
          <li *ngFor="let item of picarr">
            <img title="" alt="" src="http://localhost:3000/{{item.photo}}">
        </li>
        </ul>
      </div>
    </div> -->


          <!-- <div class="flexslider" id="main_thumbs">
              <div class="flex-viewport">
                  <ul class="slides">
                    <div *ngFor="let item of picarr">
                      <li>
                           <img title="" alt="" src="assets/img/products/pro3.jpg">
                          <img title="" alt="sorry" src="http://localhost:3000/{{item.photo}}">
                      </li>
                    </div>-->
                      <!-- <li itemtype="https://schema.org/Product" itemscope="">
                          <img title="" alt="" src="assets/img/products/pro2.jpg">
                      </li>
                      <li itemtype="https://schema.org/Product" itemscope="">
                          <img title="" alt="" src="assets/img/products/pro13.jpg">
                      </li>
                      <li itemtype="https://schema.org/Product" itemscope="">
                          <img title="" alt="" src="assets/img/products/pro4.jpg">
                      </li>
                      <li itemtype="https://schema.org/Product" itemscope="">
                          <img title="" alt="" src="assets/img/products/pro5.jpg">
                      </li>
                      <li itemtype="https://schema.org/Product" itemscope="">
                          <img title="" alt="" src="iassets/mg/products/pro6.jpg">
                      </li>
                  </ul>
              </div>-->
          </div>



  </div>
</div>
<!-- </div> -->
