<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="title"><span>Help</span></h1>
        <div class="breadcrumb">
          <a href="index-2.html">Home</a>
          <span class="delimeter">/</span>
          <span class="current">Help</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->


<div class="main-contain">
  <div class="container">
    <div class="row">
      <div class="home-main col-md-9 col-sm-12 clo-xs-12 main-contant-right">
        <div class="tab-pane" id="payment">
          <div class="panel-group accordion style1" id="accordionPayment" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="hadeingfaq1">
                <h4 class="panel-title">
                  <a class="" data-toggle="collapse" data-parent="#accordionPayment" href="#collapsefaq1"
                    aria-expanded="true" aria-controls="collapsefaq1">
                    What is Cancellation Policy?
                  </a>
                </h4>
              </div>
              <div id="collapsefaq1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="hadeingfaq1">
                <div class="panel-body">
                  <p>You can now cancel an order when it is in packed/shipped status, as long as the cancel option is
                    available on App/Website/M-site. This includes items purchased on sale also. Any amount paid will be
                    credited into the same payment mode using which the payment was made</p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="hadeingfaq2">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionPayment" href="#collapsefaq2"
                    aria-expanded="false" aria-controls="collapsefaq2">
                    Can I modify the shipping address of my order after it has been placed?
                  </a>
                </h4>
              </div>
              <div id="collapsefaq2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hadeingfaq2">
                <div class="panel-body">
                  <p>Yes, You can modify the shipping address of your order before we have processed (packed) it, by
                    updating it under 'change address' option which is available under ‘My order’ section of
                    Website</p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="hadeingfaq3">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionPayment" href="#collapsefaq3"
                    aria-expanded="false" aria-controls="collapsefaq3">
                    How do I cancel my Order?
                  </a>
                </h4>
              </div>
              <div id="collapsefaq3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hadeingfaq3">
                <div class="panel-body">
                  <p> cancel my Order?
                    Tap on “My Orders” section under the main menu of your Website and then select the item
                    or order you want to cancel</p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="hadeingfaq4">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionPayment" href="#collapsefaq4"
                    aria-expanded="false" aria-controls="collapsefaq4">
                    I just cancelled my order. When will I receive my refund?
                  </a>
                </h4>
              </div>
              <div id="collapsefaq4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hadeingfaq4">
                <div class="panel-body">
                  <p>If you had selected Cash on Delivery, there is no amount to be refunded because you haven't paid
                    for your order. For payments made via Credit Card, Debit Card, Net Banking, or Wallet you will
                    receive refund into the source account within 7-10 days from the time of order cancellation. If
                    payment was made by redeeming PhonePe wallet balance then, then refund will be instant post order
                    cancellation, which can b</p>
                </div>
              </div>

            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="hadeingfaq4">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionPayment" href="#collapsefaq4"
                    aria-expanded="false" aria-controls="collapsefaq4">
                    Will I get a chance to choose delivery date and time for Buy orders?
                  </a>
                </h4>
              </div>
              <div id="collapsefaq4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hadeingfaq4">
                <div class="panel-body">
                  <p>While we don’t allow you to choose exact delivery date & time at the time of check-out, we will
                    give an estimate on date of delivery at the time of placing the order. On the day of delivery, we
                    will send you an ‘out for delivery’ message in the morning and our delivery associate will call you
                    30-45 minutes before coming to deliver the shipment.</p>
                </div>
              </div>

            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="hadeingfaq4">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionPayment" href="#collapsefaq4"
                    aria-expanded="false" aria-controls="collapsefaq4">
                    How can i return my product?
                  </a>
                </h4>
              </div>
              <div id="collapsefaq4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hadeingfaq4">
                <div class="panel-body">
                  <p>For returning thr order the customer should come to the shop.</p>
                </div>
              </div>

            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="hadeingfaq4">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionPayment" href="#collapsefaq4"
                    aria-expanded="false" aria-controls="collapsefaq4">
                    Will return & exchange policy be available on Buy orders?
                  </a>
                </h4>
              </div>
              <div id="collapsefaq4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hadeingfaq4">
                <div class="panel-body">
                  <p>Yes, you can avail return & exchange policy even, if you have accepted the Buy order.
                    exchange policy rules will apply</p>
                </div>
              </div>

            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="hadeingfaq4">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionPayment" href="#collapsefaq4"
                    aria-expanded="false" aria-controls="collapsefaq4">
                    Will return & exchange policy be available on Buy orders?
                  </a>
                </h4>
              </div>
              <div id="collapsefaq4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hadeingfaq4">
                <div class="panel-body">
                  <p>Yes, you can avail return & exchange policy even, if you have accepted the Buy order.
                    exchange policy rules will apply</p>
                </div>
              </div>

            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="hadeingfaq4">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionPayment" href="#collapsefaq4"
                    aria-expanded="false" aria-controls="collapsefaq4">
                    What is E-mail verification policy?
                  </a>
                </h4>
              </div>
              <div id="collapsefaq4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hadeingfaq4">
                <div class="panel-body">
                  <p>We always strive hard to provide the best experience to our customers. However, we have noticed
                    that few accounts abuse our liberal policies. Therefore, please ensure that the details you provide
                    us are correct and complete and inform us immediately of any changes to the information that you
                    provided while registering. Myntra verifies the email addresses to ensure important communication
                    about orders and shipments are reaching our customers. Email addresses that have an invalid domain,
                    no mail server, or no mail box, fail the verification processes set by Myntra and Myntra reserves
                    the right to disable any cash on delivery option for orders placed from such accounts that fail the
                    email verification process.</p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <aside>
