<div class="page-heading">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center">
              <h1 class="title"><span>Page 404</span></h1>
              <div class="breadcrumb">
                  <a href="index-2.html">Home</a>
                  <span class="delimeter">/</span>
                  <span class="current">Page 404</span>
              </div>
          </div>
      </div>
  </div>
</div>
<section class="main-contain">
<div class="container">
<div class="row">
<div class="home-main col-md-9 col-sm-12 clo-xs-12 main-contant-right">
<div class="error-template">
<h1>Oops!</h1>
<h2>404 Not Found</h2>
<div class="error-details">
Sorry, an error has occured, Requested page not found!
</div>
<div class="error-actions">
<button class="btn btn-product" routerLink="/">Take Me Home </button>
<button class="btn btn-product" routerLink="/map">Contact Support</button>
</div>
</div>
