<div class="page page-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="title"><span>Change Password</span></h1>
        <div class="breadcrumb">
          <a routerLink="/">Home</a>
          <span class="delimeter">/</span>
          <span class="current">Change Password</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="main-contain">
  <div class="container">
    <div class="row">
      <div class="home-main col-md-9 col-sm-12 clo-xs-12 main-contant-right">
        <form [formGroup]="SignupForm" (ngSubmit)="onSignup()">
          <div formGroupName="password_group">
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">New Password <span class="text-danger">*</span></label>

              <div class="col-sm-10">
                <input type="password" formControlName="u_password" [type]="hide ? 'password' : 'text'"
                  placeholder="Password" name="u_password" class="form-control input-sm required">
                <mat-icon matSuffix style="float: right;" (click)="hide = !hide">{{hide?'visibility_off':'visibility'}}
                </mat-icon>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">New Confirm Password <span
                  class="text-danger">*</span></label>
              <!-- <label>Confirm Password</label> -->
              <div class="col-sm-10">
                <input type="password" formControlName="u_confirm_password" [type]="hide1 ? 'password' : 'text'"
                  placeholder="Confirm Password" name="u_confirm_password" class="form-control input-sm required">
                <mat-icon matSuffix style="float: right;" (click)="hide1 = !hide1">
                  {{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" style="margin-left: 35%;" value="submit" class="btn cd-btn"><i
                  class="fa fa-lock mr5"></i>Update
                password</button>
              <br /><br />
              <button routerLink="/" style="width: 185px;margin-left: 35%;" class="btn cd-btn"><i
                  class="fa fa-lock mr5"></i>Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
