<div class="page page-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="title"><span>Change Password</span></h1>
        <div class="breadcrumb">
          <a routerLink="/">Home</a>
          <span class="delimeter">/</span>
          <span class="current">Change Password</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="main-contain">
  <div class="container">
    <div class="row">
      <div class="home-main col-md-9 col-sm-12 clo-xs-12 main-contant-right">
        <form [formGroup]="SignupForm" (ngSubmit)="onSignup()" style="margin-left: 20%;">
          <div class="example-container" formGroupName="password_group">
            <!--<div class="form-group">
              <label>CUrrent Password <span class="text-danger">*</span></label>
              <br />
              <input formControlName="u_c_password" matInput placeholder="Enter your password"
                [type]="hide ? 'password' : 'text'" class="form-control input-sm required">
              <mat-icon style="margin-left: 95%;" matSuffix (click)="hide = !hide">
                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <br />
            </div>-->
            <div class="form-group">
              <label>Password <span class="text-danger">*</span></label>
              <br />
              <input formControlName="u_password" matInput placeholder="Enter your password"
                [type]="hide ? 'password' : 'text'" class="form-control input-sm required">
              <mat-icon style="margin-left: 95%;" matSuffix (click)="hide = !hide">
                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <br />

              <label>Confirm Password <span class="text-danger">*</span></label><br />
              <input matInput formControlName="u_confirm_password" placeholder="Enter confirm password"
                [type]="hide1 ? 'password' : 'text'" class="form-control input-sm required">
              <mat-icon style="margin-left: 95%;" matSuffix (click)="hide1 = !hide1">
                {{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>

            </div>
            <mat-error *ngIf="SignupForm.get('password_group').hasError('notSame')">Both password and confirm
              password should
              be same.</mat-error>

          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" style="margin-left: 35%;" value="submit" class="btn cd-btn"><i
                  class="fa fa-lock mr5"></i>Update
                password</button>
              <br /><br />
              <button routerLink="/" style="width: 185px;margin-left: 35%;" class="btn cd-btn"><i
                  class="fa fa-lock mr5"></i>Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>