<!-- Start Breadcrumb -->
<div class="page-heading">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center">
              <h1 class="title"><span>Shop list right</span></h1>
              <div class="breadcrumb">
                  <a href="index-2.html">Home</a>
                  <span class="delimeter">/</span>
                  <span class="current">Shop list right</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Breadcrumb -->

<!-- START MAIN CONTAIN -->
<div class="main-contain">
  <div class="container">
      <div class="row">
          <aside>
          <div class="col-md-3 col-sm-12 clo-xs-12 home-side-bar main-contant-right">
                  </div>
          </aside>

          <div class="col-md-9 col-sm-12 col-xs-12">
              <div class="row  hidden-xs">
                  <div class="toolbar">
                      <div class="col-sm-4 category-num">

                      </div>
                  </div>
                  <div class="col-sm-8">
                      <ul class="view-mode">
                          <li class="grid-list-icons">

                          </li>
                          <li class="sort-list-btn">
                              <h6>Sort By :</h6>
                              <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                      Popularity <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">All</a></li>
                                      <li><a href="#">Best Sales</a></li>
                                      <li><a href="#">Top Last Week Sales</a></li>
                                      <li><a href="#">New Arrived</a></li>
                                  </ul>
                              </div>
                          </li>
                          <li class="sort-list-btn">

                          </li>
                      </ul>
                  </div>
              </div>

              <div class="category-products">
                  <div class="products-list products-list-description-brd mb30">
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="product-grid-img">
                                  <ul class="product-labels">
                                      <li>Sale</li>
                                  </ul>
                                  <a href="#" class="product-grid-img-thumbnail">
                                      <img src="assets/img/products/pro1.jpg" alt="img" class="img-responsive primary-img" />
                                      <img src="assets/img/products/pro2.jpg" alt="img" class="img-responsive socendary-img" />
                                  </a>
                                  <div class="product-grid-atb text-center"><i class="fa fa-shopping-cart"></i><a class="" href="#">Add to Cart</a></div>
                              </div>
                          </div>
                          <div class="col-sm-8 products-list-description">
                              <div class="overflow-h">
                                  <ul class="list-inline overflow-h mb15">
                                      <li><h4 class="title-price"><a href="shop-detail.html">Printed Summer Dress</a></h4></li>
                                      <li class="pull-right">
                                          <ul class="list-inline product-ratings">
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating fa fa-star"></i></li>
                                              <li><i class="rating fa fa-star"></i></li>
                                          </ul>
                                      </li>
                                  </ul>
                                  <div class="mb10">
                                      <span class="title-price">$20.00</span>
                                      <span class="title-price line-through">$35.00</span>
                                  </div>
                                  <p class="mb15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin erat nec ornarevolu tpat. Etiam ut felis nec nisl eleifend lobortis. Aenean nibh est, hendrerit non conva.</p>
                                  <ul class="list-inline add-to-wishlist mb15">
                                      <li class="product-wishlist">
                                          <i class="fa fa-heart"></i>
                                          <a href="#">Add to Wishlist</a>
                                      </li>
                                      <li class="product-wishlist">
                                          <i class="fa fa-exchange"></i>
                                          <a href="#">Add to Compare</a>
                                      </li>
                                  </ul>
                                  <button type="button" class="btn btn-product">Add to Cart</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="products-list products-list-description-brd mb30">
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="product-grid-img">
                                  <ul class="product-labels">
                                      <li>Sale</li>
                                  </ul>
                                  <a href="#" class="product-grid-img-thumbnail">
                                      <img src="assets/img/products/pro3.jpg" alt="img" class="img-responsive primary-img" />
                                      <img src="assets/img/products/pro4.jpg" alt="img" class="img-responsive socendary-img" />
                                  </a>
                                  <div class="product-grid-atb text-center"><i class="fa fa-shopping-cart"></i><a class="" href="#">Add to Cart</a></div>
                              </div>
                          </div>
                          <div class="col-sm-8 products-list-description">
                              <div class="overflow-h">
                                  <ul class="list-inline overflow-h mb15">
                                      <li><h4 class="title-price"><a href="shop-detail.html">Printed Summer Dress</a></h4></li>
                                      <li class="pull-right">
                                          <ul class="list-inline product-ratings">
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating fa fa-star"></i></li>
                                              <li><i class="rating fa fa-star"></i></li>
                                          </ul>
                                      </li>
                                  </ul>
                                  <div class="mb10">
                                      <span class="title-price">$50.00</span>
                                      <span class="title-price line-through">$60.00</span>
                                  </div>
                                  <p class="mb15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin erat nec ornarevolu tpat. Etiam ut felis nec nisl eleifend lobortis. Aenean nibh est, hendrerit non conva.</p>
                                  <ul class="list-inline add-to-wishlist mb15">
                                      <li class="product-wishlist">
                                          <i class="fa fa-heart"></i>
                                          <a href="#">Add to Wishlist</a>
                                      </li>
                                      <li class="product-wishlist">
                                          <i class="fa fa-exchange"></i>
                                          <a href="#">Add to Compare</a>
                                      </li>
                                  </ul>
                                  <button type="button" class="btn btn-product">Add to Cart</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="products-list products-list-description-brd mb30">
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="product-grid-img">
                                  <ul class="product-labels">
                                      <li>Sale</li>
                                  </ul>
                                  <a href="#" class="product-grid-img-thumbnail">
                                      <img src="assets/img/products/pro5.jpg" alt="img" class="img-responsive primary-img" />
                                      <img src="assets/img/products/pro6.jpg" alt="img" class="img-responsive socendary-img" />
                                  </a>
                                  <div class="product-grid-atb text-center"><i class="fa fa-shopping-cart"></i><a class="" href="#">Add to Cart</a></div>
                              </div>
                          </div>
                          <div class="col-sm-8 products-list-description">
                              <div class="overflow-h">
                                  <ul class="list-inline overflow-h mb15">
                                      <li><h4 class="title-price"><a href="shop-detail.html">Printed Summer Dress</a></h4></li>
                                      <li class="pull-right">
                                          <ul class="list-inline product-ratings">
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating fa fa-star"></i></li>
                                              <li><i class="rating fa fa-star"></i></li>
                                          </ul>
                                      </li>
                                  </ul>
                                  <div class="mb10">
                                      <span class="title-price">$60.00</span>
                                      <span class="title-price line-through">$70.00</span>
                                  </div>
                                  <p class="mb15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin erat nec ornarevolu tpat. Etiam ut felis nec nisl eleifend lobortis. Aenean nibh est, hendrerit non conva.</p>
                                  <ul class="list-inline add-to-wishlist mb15">
                                      <li class="product-wishlist">
                                          <i class="fa fa-heart"></i>
                                          <a href="#">Add to Wishlist</a>
                                      </li>
                                      <li class="product-wishlist">
                                          <i class="fa fa-exchange"></i>
                                          <a href="#">Add to Compare</a>
                                      </li>
                                  </ul>
                                  <button type="button" class="btn btn-product">Add to Cart</button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="products-list products-list-description-brd mb30">
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="product-grid-img">
                                  <ul class="product-labels">
                                      <li>Sale</li>
                                  </ul>
                                  <a href="#" class="product-grid-img-thumbnail">
                                      <img src="assets/img/products/pro7.jpg" alt="img" class="img-responsive primary-img" />
                                      <img src="assets/img/products/pro8.jpg" alt="img" class="img-responsive socendary-img" />
                                  </a>
                                  <div class="product-grid-atb text-center"><i class="fa fa-shopping-cart"></i><a class="" href="#">Add to Cart</a></div>
                              </div>
                          </div>
                          <div class="col-sm-8 products-list-description">
                              <div class="overflow-h">
                                  <ul class="list-inline overflow-h mb15">
                                      <li><h4 class="title-price"><a href="shop-detail.html">Printed Summer Dress</a></h4></li>
                                      <li class="pull-right">
                                          <ul class="list-inline product-ratings">
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating fa fa-star"></i></li>
                                              <li><i class="rating fa fa-star"></i></li>
                                          </ul>
                                      </li>
                                  </ul>
                                  <div class="mb10">
                                      <span class="title-price">$40.00</span>
                                      <span class="title-price line-through">$45.00</span>
                                  </div>
                                  <p class="mb15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin erat nec ornarevolu tpat. Etiam ut felis nec nisl eleifend lobortis. Aenean nibh est, hendrerit non conva.</p>
                                  <ul class="list-inline add-to-wishlist mb15">
                                      <li class="product-wishlist">
                                          <i class="fa fa-heart"></i>
                                          <a href="#">Add to Wishlist</a>
                                      </li>
                                      <li class="product-wishlist">
                                          <i class="fa fa-exchange"></i>
                                          <a href="#">Add to Compare</a>
                                      </li>
                                  </ul>
                                  <button type="button" class="btn btn-product">Add to Cart</button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="products-list products-list-description-brd mb30">
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="product-grid-img">
                                  <ul class="product-labels">
                                      <li>Sale</li>
                                  </ul>
                                  <a href="#" class="product-grid-img-thumbnail">
                                      <img src="assets/img/products/pro9.jpg" alt="img" class="img-responsive primary-img" />
                                      <img src="assets/img/products/pro10.jpg" alt="img" class="img-responsive socendary-img" />
                                  </a>
                                  <div class="product-grid-atb text-center"><i class="fa fa-shopping-cart"></i><a class="" href="#">Add to Cart</a></div>
                              </div>
                          </div>
                          <div class="col-sm-8 products-list-description">
                              <div class="overflow-h">
                                  <ul class="list-inline overflow-h mb15">
                                      <li><h4 class="title-price"><a href="shop-detail.html">Printed Summer Dress</a></h4></li>
                                      <li class="pull-right">
                                          <ul class="list-inline product-ratings">
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating fa fa-star"></i></li>
                                              <li><i class="rating fa fa-star"></i></li>
                                          </ul>
                                      </li>
                                  </ul>
                                  <div class="mb10">
                                      <span class="title-price">$60.00</span>
                                      <span class="title-price line-through">$112.00</span>
                                  </div>
                                  <p class="mb15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin erat nec ornarevolu tpat. Etiam ut felis nec nisl eleifend lobortis. Aenean nibh est, hendrerit non conva.</p>
                                  <ul class="list-inline add-to-wishlist mb15">
                                      <li class="product-wishlist">
                                          <i class="fa fa-heart"></i>
                                          <a href="#">Add to Wishlist</a>
                                      </li>
                                      <li class="product-wishlist">
                                          <i class="fa fa-exchange"></i>
                                          <a href="#">Add to Compare</a>
                                      </li>
                                  </ul>
                                  <button type="button" class="btn btn-product">Add to Cart</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
<!-- Start Pagination-->
  <!-- End Pagination-->
  </div>
  </div>
  <!-- END MAIN CONTAIN -->

