<div class="page">
  <!-- class="page-heading"> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="title"><span>Login</span></h1>
        <div class="breadcrumb">
          <a routerLink="/">Home</a>
          <span class="delimeter">/</span>
          <span class="current">Login</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->


<div class="main-contain">
  <div class="container">
    <div class="row">
      <div class="home-main col-md-9 col-sm-12 clo-xs-12 main-contant-right">
        <div class="widget">
          <h6 class="text-uppercase bottom-line"><strong>Sign in to your account</strong></h6>
        </div>
        <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" formControlName="u_EmailId" class="form-control input-md" id="email"
                placeholder="Email" required>
              <mat-error
                *ngIf="loginForm.get('u_EmailId').hasError('required') && !loginForm.get('u_EmailId').pristine">Email-Id
                is required</mat-error>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" formControlName="u_password" class="form-control input-md" id="password"
                placeholder="Password">

            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox-input mb10">
                <!-- <input id="remember" class="styled" type="checkbox">
                          <label for="remember">
                              Remember me
                          </label> -->
              </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
              <label>
                <a (click)="forgotPassword()">Forgot Password</a>
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" value="submit" class="btn cd-btn"><i class="fa fa-lock mr5"></i> Login</button>
            </div>
          </div>
        </form>
      </div>

      <aside>
        <div class="col-md-3 col-sm-12 clo-xs-12 home-side-bar sied-bar-left">

          <!-- CATEGORIES WIDGET -->
          <div class="widget mb30">
            <h6 class="text-uppercase bg-border">Categories</h6>
            <div class="navbar-vertical">
              <ul class="nav nav-stacked">
                <li>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mens <i class="fa fa-angle-right pull-right"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Coats & Jackets</a></li>
                    <li><a href="#">Underwear</a></li>
                    <li><a href="#">Sunglasses</a></li>
                    <li><a href="#">Socks</a></li>
                    <li><a href="#">Belts</a></li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Womens <i class="fa fa-angle-right pull-right"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">T-shirts</a></li>
                    <li><a href="#">Skirts</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Pullover</a></li>
                  </ul>
                </li>
                <li><a href="#">Kids</a></li>
                <li><a href="#">Fashion</a></li>
                <li>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                    SportWear <i class="fa fa-angle-right pull-right"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Pants</a></li>
                    <li><a href="#">Swimwear</a></li>
                    <li><a href="#">Bicycles</a></li>
                  </ul>
                </li>
                <li><a href="#">Bags</a></li>
                <li><a href="#">Shoes</a></li>
                <li><a href="#">HouseHolds</a></li>
                <li>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                    Technology <i class="fa fa-angle-right pull-right"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Television</a></li>
                    <li><a href="#">Camera</a></li>
                    <li><a href="#">Speakers</a></li>
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">PC</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- END CATEGORIES WIDGET -->


          <!-- SIDE-BAR PRODUCT WIDGET -->
          <div class="">
            <div class="widget mb30">
              <h6 class="text-uppercase bg-border">Top Rated</h6>
            </div>
            <div class="small-thumb-proudct mb30">
              <div class="thumb-product">
                <img class="thumb-product-img img-responsive" src="img/products/pro1.jpg" alt="">
                <div class="thumb-product-inner">
                  <h6><a href="shop-detail.html">Printed Su..</a></h6>
                  <span class="thumb-product-cat">Fashion</span>
                </div>
                <ul class="list-inline overflow-h">
                  <li class="thumb-product-price line-through">$60.00</li>
                  <li class="thumb-product-price">$30.00</li>
                </ul>
              </div>
            </div>
            <div class="small-thumb-proudct mb30">
              <div class="thumb-product">
                <img class="thumb-product-img img-responsive" src="img/products/pro2.jpg" alt="">
                <div class="thumb-product-inner">
                  <h6><a href="shop-detail.html">Printed Su..</a></h6>
                  <span class="thumb-product-cat">Fashion</span>
                </div>
                <ul class="list-inline overflow-h">
                  <li class="thumb-product-price">$65.00</li>
                </ul>
              </div>
            </div>
            <div class="small-thumb-proudct mb30">
              <div class="thumb-product">
                <img class="thumb-product-img img-responsive" src="img/products/pro3.jpg" alt="">
                <div class="thumb-product-inner">
                  <h6><a href="shop-detail.html">Printed Su..</a></h6>
                  <span class="thumb-product-cat">Fashion</span>
                </div>
                <ul class="list-inline overflow-h">
                  <li class="thumb-product-price line-through">$75.00</li>
                  <li class="thumb-product-price">$65.00</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- END SIDE-BAR PRODUCT WIDGET -->


          <div class="mb30">
            <div class="widget mb30">
              <h6 class="text-uppercase bg-border">Twitter</h6>
            </div>
            <ul class="twitter-posts">
              <li>
                <img class="rounded-x" src="img/blog/comment.png" alt="">
                <div class="twitter-posts-in">
                  <strong>John Doe</strong>
                  <span><a href="#">@Themeforest/</a></span>
                  <span>4h</span>
                  <p>Lorem ipsum dolor sit amet, Nunc aliquam justo et nibh venenatis.</p>
                  <a class="link" href="#">http://craftdzine.com/</a>
                </div>
              </li>
              <li>
                <img class="rounded-x" src="img/blog/comment.png" alt="">
                <div class="twitter-posts-in">
                  <strong>John Doe</strong>
                  <span><a href="#">@Craftdzine</a></span>
                  <span>5m</span>
                  <p>Lorem ipsum dolor sit amet, Nunc aliquam justo et nibh venenatis.</p>
                  <a class="link" href="#">http://craftdzine.com/</a>
                </div>
              </li>
              <li>
                <img class="rounded-x" src="img/blog/comment.png" alt="">
                <div class="twitter-posts-in">
                  <strong>John Doe</strong>
                  <span><a href="#">@Themeforest</a></span>
                  <span>7h</span>
                  <p>Lorem ipsum dolor sit amet, Nunc aliquam justo et nibh venenatis.</p>
                  <a class="link" href="#">http://craftdzine.com/</a>
                </div>
              </li>

            </ul>
          </div>



          <!-- TAGS WIDGET -->
          <div class="">
            <div class="widget mb30">
              <h6 class="text-uppercase bg-border">Tags</h6>
            </div>
            <div class="tags">
              <a href="#">bootstrap</a>
              <a href="#">business</a>
              <a href="#">corporate</a>
              <a href="#">e-commerce</a>
              <a href="#">portfolio</a>
              <a href="#">responsive</a>
            </div>

            <!-- END TAGS WIDGET -->
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
