<!-- Start Breadcrumb -->
<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="title"><span>User Information</span></h1>
        <div class="breadcrumb">
          <a href="index-2.html">Home</a>
          <span class="delimeter">/</span>
          <span class="current">User Information</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->

<div *ngFor="let item of WalletDetails"
  style="float:left;font-size: large;margin-top: 5%;font-weight: bold;width: 250px;margin-left: 3%;">
  <mat-card>
    Wallet Details
    <br>
    <br>
    <hr style="border: 1px solid gainsboro;">
    <h4>Your Wallet Details Are :</h4>
    <!-- <label>Wallet Id :</label><br>
    {{item.wallet_id}}<br> -->

    <label>Wallet Amount :</label>
    <br>
    {{item.wallet_amount}}
  </mat-card>
</div>
<div *ngFor="let item of OfferDetails"
  style="float:right;font-size: large;margin-top: 5%;font-weight: bold;width: 250px;margin-right: 3%;">
  <mat-card>
    Current Offer Details
    <br>
    <br>
    <hr style="border: 1px solid gainsboro;">
    <div style="font-size: medium;">
    <h4>Your Offer Details  :</h4>
    <!-- <label>Offer ID :</label><br>
    {{item.member_id}}<br> -->
    <label>End Date :</label><br>{{item.End_date}}<br>
    <label>Pucashed Date :</label><br>{{item.Start_date}}<br>
    <label>Offer Price :</label><br>{{item.offer_Price}}<br>

    <br>
    </div>
  </mat-card>
</div>

<div class="main-contain">
  <div class="container">
    <div class="row">

      <div class="home-main col-md-9 col-sm-12 clo-xs-12 main-contant-right" style="margin-left: 30%;width: 800px;">
        <div class="widget">
          <h6 class="text-uppercase bottom-line" style="margin-right: 52%;"><strong>My personal information</strong>
          </h6>

        </div>
        <form [formGroup]="user_update" (ngSubmit)="onUserUpdate()">

          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <!-- <div *ngFor="let item of list"> -->
                <img mat-card-image style="height: 200px;width: 200px;border-radius: 100px;" src="{{userurl}}">
                <button mat-button class="btn btn-primary" (click)="editImageuser(u_EmailId)">Change Image </button>
                <!-- </div> -->
              </div>

              <div class="form-group">
                <label>Email Address <span class="text-danger">*</span></label>
                <input type="email" disabled="true" formControlName="u_EmailId" required placeholder="Email Address"
                  name="u_EmailId" class="form-control input-sm required email"><br>
                <mat-error
                  *ngIf="user_update.get('u_EmailId').hasError('required') && !user_update.get('u_EmailId').pristine">
                  Email is required</mat-error>

                <mat-error *ngIf="user_update.get('u_EmailId').hasError('email')">Email is invalid</mat-error>
              </div>

              <div class="form-group">
                <label> Name <span class="text-danger">*</span></label>
                <input type="text" formControlName="u_Name" required placeholder="Enter Name" name="u_Name"
                  class="form-control input-sm required"><br>
                <mat-error
                  *ngIf="user_update.get('u_Name').hasError('required') && !user_update.get('u_Name').pristine">
                  Name is required</mat-error>
                <mat-error *ngIf="user_update.get('u_Name').hasError('minlength')">Name must be greater than 5
                  characters
                </mat-error>
                <mat-error *ngIf="user_update.get('u_Name').hasError('pattern')">Only characters are allowed
                </mat-error>
              </div>

              <div class="form-group">
                <label> Address <span class="text-danger">*</span></label>
                <input type="text" formControlName="u_Address" required placeholder="Enter Address" name="u_Address"
                  class="form-control input-sm required"><br>
                <mat-error
                  *ngIf="user_update.get('u_Address').hasError('required') && !user_update.get('u_Address').pristine">
                  Address is required</mat-error>
              </div>

              <div class="form-group">
                <label> Mobile No <span class="text-danger">*</span></label>
                <input type="text" formControlName="u_mobileno" required placeholder="Enter Mobile No" name="u_mobileno"
                  class="form-control input-sm required">
                <mat-error
                  *ngIf="user_update.get('u_mobileno').hasError('required') && !user_update.get('u_mobileno').pristine">
                  mobile number is required
                </mat-error>
                <mat-error *ngIf="user_update.get('u_mobileno').hasError('maxlength')">mobile number should be 10
                  characters
                </mat-error>
                <mat-error *ngIf="user_update.get('u_mobileno').hasError('pattern')">Only numbers are allowed
                </mat-error>
              </div>

              <label>Date of Birth</label>
              <div class="form-group">

                <input type="Date" formControlName="u_dob" required name="u_dob" placeholder="Enter Date"
                  class="form-control input-sm required" value="u_dob">
                <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker> -->
                <mat-error *ngIf="user_update.get('u_dob').hasError('required') && !user_update.get('u_dob').pristine">
                  Birthdate is required
                </mat-error>
              </div>

              <div class="form-group">
                <label>Gender</label><br>
                <mat-radio-group aria-label="Select an option" formControlName="u_gender"
                  class="form-control input-sm required">
                  <mat-radio-button value="male">Male</mat-radio-button>
                  <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
              </div>


            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button (click)="changepassword(u_EmailId)" style="margin-left: -5%;" class="btn cd-btn"><i class="fa fa-lock mr5"></i>Change
                password</button>
            </div>
          </div>


          <br><br>
          <div class="form-group">
            <button type="submit" class="btn cd-btn" (click)="onUserUpdate()">UPDATE</button>
            <button style="margin-left: 30%;" class="btn cd-btn" (click)="onUserCancel()">Cancel</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
