<div style="margin-left: 15%;height: 200px;margin-right: 21%;border:1px solid black;">

  <h3 style="text-align: center;">Grand Total :</h3>
  <label style="margin-left: 48%;font-size: 25px;">{{GrandTotal}}</label>
  <br>
  <h3 style="text-align: center;">Specail Instruction :</h3>




  <textarea row=" 3" cols="5"
    style="background-color:white; color: rgb(153, 139, 139); border-radius:10px; font-size: 10px; width:200px; height: 100px;margin-bottom: 20px;text-align: center;margin-left: 37%;"
    type="text" class="btn cd-btn pull-left" [(ngModel)]="spcl_instruction"></textarea>



  <br>

</div>
<br><br>
<div style="margin-left: 15%;">
  <div #paypal></div>
  <button style="height: 50px;width: 77%;font-size: large;" class='btn btn-success' (click)="onCheckOutCash()">
    CASH
  </button>
  <button *ngIf="walltetFlag" style="height: 50px;width: 77%;font-size: large;margin-top: 5%;" class="btn btn-primary"
    (click)="onCheckOutWallet()">
    Wallet
  </button>
  <br><br>
  <label *ngIf="walltetFlag" style="font-size: large;margin-left: 27%;" class="btn btn-light">
    Wallet Balance :- {{walletAmount | currency:"INR"}}
  </label>
</div>
<!-- <div> -->
<p-dialog [(visible)]="paymenterr">
  <p-header>Paymemt Error</p-header>
  Oops!!! Some error occured during payment via paypal please try again or try other mode of payment

</p-dialog>
<!-- </div> -->
<!-- <div> -->
<p-dialog [(visible)]="insuff">
  <p-header>Insufficent Balance</p-header>
  Oops!!!Sorry you don't have sufficent balance in your wallet. Try other mode of payment

</p-dialog>
<!-- </div> -->
