<!-- <p>papypal-testing works!</p> -->
<!-- <input type="number" [(ngModel)]="finalAmount"> -->
<mat-card style="margin-left: 15%;height: 200px;margin-right: 23%;" >
  <h3>Grand Total :</h3>
  <label>{{GrandTotal}}</label>
  <br>
  <h3>Specail Instruction :</h3>

  <textarea row="3" cols="5"
    style="background-color:white; color: black; border-radius:10px; font-size: 10px; width:200px; height: 100px;"
    type="text" class="btn cd-btn pull-left" [(ngModel)]="spcl_instruction"></textarea>
</mat-card>
<br><br>
<div style="margin-left: 15%;">
  <div #paypal></div>
  <button style="height: 50px;width: 77%;font-size: large;" class='btn btn-success' (click)="onCheckOutCash()">
    CASH
  </button>
</div>
