<div class="col-md-3 col-sm-12 col-xs-12 home-side-bar sied-bar-left">

  <section class="widget mb20">
    <h6 class="text-uppercase bg-border">Categories</h6>
    <div class="navbar-vertical" style="width:100%;">
      <ul class=" nav nav-stacked" style="width:100%;">

        <li style="width:100%;margin-right: 400%;" *ngFor="let item of category" [value]="item.cat_id" name="fk_cat_id"
          #fk_cat_id (click)="onWatchClick(fk_cat_id.value)" style="border: 1px solid gainsboro;">
          <a data-toggle="dropdown" (mouseover)="mfglistout(item.cat_id)">
            {{item.cat_name}} <i class="fa fa-angle-right pull-right"></i>
          </a>

          <ul class="dropdown-menu">
            <li *ngFor="let item1 of mfgCat" style="border: 1px solid gainsboro;">
              <a (click)="OnMfgClick(item1.pro_mfg)">{{item1.pro_mfg}}</a>
            </li>
          </ul>
      </ul>
    </div>
  </section>
