<!-- <p>offer-page works!</p> -->
<mat-card style="border:1px solid green ;">
  <div>
    <h1>Offer 1</h1>
    <h2>Price : 600</h2>
    <h3>valid For 6 months</h3>
    <h4>8% discount available till offer valid and free delivery on all orders</h4>

    <!-- <input type="button" value="subscribe" class="btn btn-success" (click)="Offer1Slected()"> -->

  </div>
</mat-card>

<p-dialog [(visible)]="display" [style]="{width: '50vw'}">
  <p-header>
    Alert!!!
  </p-header>
  You Have already an offer<br>
  Details of That Offer Are Given Below :<br>
  <label>Offers Purchased date : </label>{{sd}}<br>
  <label>Offer Valid Till : </label>{{ey}}<br>
  <label>Offer Price :</label>{{offerSubscribed}} Rs.<br>

  <label>Offer Advantages : </label>{{advantage}}<br>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Yes" routerLink="/products">OK</button>
  </p-footer>
</p-dialog>
<hr>
<mat-card style="border:1px solid green ;">
  <div>
    <h1>Offer 2</h1>
    <h2>Price : 900</h2>
    <h3>valid For 9 months</h3>
    <h4>12% discount available till offer valid and free delivery on all orders</h4>
    <!-- <input type="button" value="subscribe" class="btn btn-success" (click)="Offer2Slected()"> -->

  </div>
</mat-card>
<br>

<div style="border:1px solid black;height: 150px;width:100%;">
  <mat-radio-group>
    <mat-radio-button value="600" #txt style="font-size: medium;" (click)="abc(txt.value)">Offer 1 (600/-) 8% discount available till offer valid and free delivery on all orders
    </mat-radio-button>
    <br>
  
    <mat-radio-button value="900" #txt1 style="font-size: medium;margin-top: 5%;" (click)="abc(txt1.value)">Offer 2 (900/-) 12% discount available till offer valid and free delivery on all orders
    </mat-radio-button>
  </mat-radio-group>
</div>
<br>
<br>

<div #paypal></div>
<p-dialog [(visible)]="display2" [style]="{width: '50vw'}">
  <p-header>
    Alert!!!
  </p-header>
  You Have already an offer<br>
  Details of That Offer Are Given Below :<br>
  <label>Offers Purchased date : </label>{{sd}}<br>
  <label>Offer Valid Till : </label>{{ey}}<br>
  <label>Offer Price :</label>{{offerSubscribed}} Rs.<br>

  <label>Offer Advantages : </label>{{advantage}}<br>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Yes" routerLink="/products">OK</button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="dis1">
  <p-header>
    Welcome!!
  </p-header>
  Now You Are Member Customer Of GIFTVILLA..<br>
  Enjoy Your Unlimited Offers
  <p-footer>
    <button routerLink="/">OK</button>
  </p-footer>
</p-dialog>