<!-- <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options"></google-map> -->
<section class="main-contain bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="single-contact-option text-center">
          <i class="fa fa-home"></i>
          <h6>address street</h6>
          <p>Address : Nagrik provision Store,</p>
          <p> Govermanet A colony,</p>
          <p>Shahibaug,Ahmedabad-38004.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="single-contact-option text-center">
          <i class="fa fa-phone"></i>
          <h6>Number phone</h6>
          <p>Phone 1: 7777989890</p>
          <p>Phone 2: 8780870913</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="single-contact-option text-center">
          <i class="fa fa-fax"></i>
          <h6>Number phone</h6>
          <p>Fax 1: 0(123) 567 890</p>
          <p>Fax 2: 0(456) 567 890</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="single-contact-option text-center">
          <i class="fa fa-envelope-o"></i>
          <h6>Address email</h6>
          <a href="mailto:giftvilla2020@gmail.com">giftvilla2020@gmail.com</a>
          <!-- <a href="mailto:admin@craftdzine.com">Nameyour@craftdzine.com</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-contain" id="contact">
  <div class="container">
    <div class="standard-comments-form clearfix">


      <form [formGroup]="FeedbackForm" (ngSubmit)="onSubmitMessage()">

        <div>
          <label>Email</label>
          <!-- {{this.em}} -->
          <input type="email" formControlName="fk_u_EmailId" id="email" class=" form-control" [(ngModel)]="em">
        </div>

        <div>
          <label>Comment</label>
          <textarea class="form-control" formControlName="feedback_msg" id="msg" rows="7"></textarea>
        </div>
        <input class="btn btn-product" value="Submit Message" type="submit">
      </form>

    </div>
  </div>
</section>
