 <!-- Start Breadcrumb -->
 <div class="page-heading">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center">
              <h1 class="title"><span>Shop 2 col</span></h1>
              <div class="breadcrumb">
                  <a href="index-2.html">Home</a>
                  <span class="delimeter">/</span>
                  <span class="current">Shop 2 col</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Breadcrumb -->

<!-- START MAIN CONTAIN -->
<!-- <div class="main-contain">
  <div class="container">
<div class="row clearfix">
  <div class="col-md-6 col-sm-6 col-xs-12" *ngFor="let item of arr" >
  <div class="item-box item mb30">
  <div class="shop-item">

  <div class="item-img">
  <img src="http://localhost:3000/{{item.pro_img}}" alt="" class="img-responsive">
  </div>
  <div class="item-inner">
  <div class="item-inner-detail">
  <div class="item-inner-detail-cart">
  <!-- <a class="btn btn-line-xs btn-white-line"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
  </div>
  </div>
  </div>
  </div>
  <div class="shop-item-info small-thumb-proudct">
  <a href="shop-detail.html">
  <h6 class="shop-item-name">{{item.pro_name}}</h6>
  </a>
  <ul class="list-inline overflow-h">

  <li class="thumb-product-price">{{item.pro_price}}</li>
  </ul>
  </div>
  </div>
  </div>
  </div> -->

      <!-- Start Pagination-->

<!-- New -->

<div class="main-contain">
  <div class="container">
      <div class="row">
          <aside>
          <div class="col-md-3 col-sm-12 clo-xs-12 home-side-bar main-contant-right">
                  </div>
          </aside>

          <div class="col-md-9 col-sm-12 col-xs-12">
              <div class="row  hidden-xs">
                  <div class="toolbar">
                      <div class="col-sm-4 category-num">

                      </div>
                  </div>
                  <div class="col-sm-8">
                      <ul class="view-mode">
                          <li class="grid-list-icons">
                            <a href="shop-list-left.html"><i class="fa fa-th-list"></i></a>
                            <a href="shop-grid-left.html"><i class="fa fa-th"></i></a>
                          </li>
                          <li class="sort-list-btn">
                              <!-- <h6>Sort By :</h6>
                              <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                      Popularity <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">All</a></li>
                                      <li><a href="#">Best Sales</a></li>
                                      <li><a href="#">Top Last Week Sales</a></li>
                                      <li><a href="#">New Arrived</a></li>
                                  </ul>
                              </div> -->
                          </li>
                          <li class="sort-list-btn">

                          </li>
                      </ul>
                  </div>
              </div>

              <div class="category-products">
                  <div class="products-list products-list-description-brd mb30" *ngFor="let item of arr" >
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="product-grid-img">
                                  <ul class="product-labels">
                                      <li>Sale</li>
                                  </ul>
                                  <a href="#" class="product-grid-img-thumbnail">
                                      <img src="http://localhost:3000/product_images/{{item.pro_img}}" alt="img" class="img-responsive primary-img" />
                                      <!-- <img src="assets/img/products/pro2.jpg" alt="img" class="img-responsive socendary-img" /> -->
                                  </a>
                                  <div class="product-grid-atb text-center"><i class="fa fa-shopping-cart"></i><a class="" href="#">Add to Cart</a></div>
                              </div>
                          </div>
                          <div class="col-sm-8 products-list-description">
                              <div class="overflow-h">
                                  <ul class="list-inline overflow-h mb15">
                                      <li><h4 class="title-price"><a href="shop-detail.html">{{item.pro_name}}</a></h4></li>
                                      <li class="pull-right">
                                          <ul class="list-inline product-ratings">
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating-selected fa fa-star"></i></li>
                                              <li><i class="rating fa fa-star"></i></li>
                                              <li><i class="rating fa fa-star"></i></li>
                                          </ul>
                                      </li>
                                  </ul>
                                  <div class="mb10">
                                      <span class="title-price">{{item.pro_price | currency:'INR'}}</span>

                                  </div>
                                  <p class="mb15">{{item.pro_info}}</p>
                                  <ul class="list-inline add-to-wishlist mb15">
                                      <li class="product-wishlist">
                                          <i class="fa fa-heart"></i>
                                          <a href="#">Add to Wishlist</a>
                                      </li>

                                  </ul>
                                  <button type="button" class="btn btn-product">Add to Cart</button>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>

          </div>
      </div>


<!-- END -->


  <!-- End Pagination-->
  </div>
  </div>
  <!-- END MAIN CONTAIN -->

